{
  "presets": [
    ["@babel/preset-env",
    {
      "useBuiltIns": "usage",
      "debug": true
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
